/* styles.css */

/* Styling for the h1 element (title) */
h1 {
    text-align: center;
    font-style: italic; /* Italic text */
    color: #ffcc00; /* Darker yellow color */
    font-family: Futura, sans-serif; /* Use Futura font */
}

/* Styling for paragraphs */
p {
    text-align: center;
    font-family: Montserrat, thin;
}
.center {
    border: 3px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
}
.left {
    border: 3px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
}

/* The animation code */
@keyframes example {
    0%   {background-color: red; left: 0px; top: 0px;}
    10%   {background-color: gray; right: 100px; top: 100px;}
    25%  {background-color: yellow; left: 200px; top: 0px;}
    50%  {background-color: blue; left: 200px; top: 200px;}
    75%  {background-color: green; left: 0px; top: 200px;}
    100% {background-color: red; left: 0px; top: 0px;}
}

 /* The animation code */
 @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }
  
  /* The element to apply the animation to */
  div {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  } 

  @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }
  
  /* The element to apply the animation to */
  .jedagjedug{
    background-color: red;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;

  }